body{
  background-color: #f1f1f1;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
header{
  background-color: #fff;
}
header.container{
  max-width: 1400px;
  display: flex;
  margin: 120px ;
  padding:40px;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  justify-items: center;

}
 header a{
  color: #333;
  text-decoration: none;
  

}
.pages{
  max-width: 1400px;
  margin: 0 ;
  padding:  20px;
}
.home{
  display: grid;
  gap: 100px;
  grid-template-columns: 3fr 1fr
  
}
.workout-details{
  background-color: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0,0, 0.5);
}
.workout-details h4{
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color:green;
}
.workout-details p{
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.workout-details span{
  position: absolute;
  top: 20px;
  right: 0;
  cursor: pointer;
  padding: 6px;
}
form button{
  background-color: green;
  border: 0;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
}
div.error{
  padding: 10px;
  background-color: #ffefef;
  border: 1px solid red;
  margin: 20px 0;
  border-radius: 4px;
}
label,input{
  display: block;
}
input{
  border-radius: 4px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box;

}
input.error{
  border: 1px solid red;
}